{% extends 'layout.html' %}

{% block body %}
<div class="media-container">
    <h3>Join Us Today</h3>
    <div class="divider"></div>
    <form action="" method="POST" class="row">
        {{ form.hidden_tag() }}
        <div class="input-field col s10 m10 push-s1 push-m1">
            <i class="material-icons prefix">account_circle</i>
            {% if form.username.errors %}
            {{ form.username(id='username', class='invalid', **{'data-length': '25'}) }}
            {% for error in form.username.errors %}
            <span class="helper-text" data-error="{{error}}">{{error}}</span>
            {% endfor %}
            {% else %}
            {{ form.username(id='username', **{'data-length': '25'}) }}
            {% endif %}
            {{ form.username.label(for='username') }}
        </div>
        <div class="input-field col s10 m10 push-s1 push-m1">
            <i class="material-icons prefix">email</i>
            {% if form.email.errors %}
            {{ form.email(id='email', class='invalid') }}
            {% for error in form.email.errors %}
            <span class="helper-text" data-error="{{error}}">{{error}}</span>
            {% endfor %}
            {% else %}
            {{ form.email(id='email') }}
            {% endif %}
            {{ form.email.label(for='email') }}
        </div>
        <div class="input-field col s10 m10 push-s1 push-m1">
            <i class="material-icons prefix">lock</i>
            {% if form.password.errors %}
            {{ form.password(id='password', class='invalid') }}
            {% for error in form.password.errors %}
            <span class="helper-text" data-error="{{error}}">{{error}}</span>
            {% endfor %}
            {% else %}
            {{ form.password(id='password') }}
            {% endif %}
            {{ form.password.label(for='password') }}
        </div>
        <div class="input-field col s10 m10 push-s1 push-m1">
            <i class="material-icons prefix">loop</i>
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(id='confirm_password', class='invalid') }}
            {% for error in form.confirm_password.errors %}
            <span class="helper-text" data-error="{{error}}">{{error}}</span>
            {% endfor %}
            {% else %}
            {{ form.confirm_password(id='confirm_password') }}
            {% endif %}
            {{ form.confirm_password.label(for='confirm_password') }}
        </div>
        <div class="input-field col s10 m10 push-s1 push-m1">
            <button type="submit" class="waves-effect waves-light btn yellow darken-1 black-text">Sign Up</button>
        </div>
    </form>
    <div class="divider"></div>
    <p class="text-muted">Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a></p>
</div>
{% endblock body %}