@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

/* Global styles */
:root {
    --primary-color: #EF5350;
    --secondary-color: #e0e0e0;
    --content-color: #ffffff;
    --font-color: #333333;
}

body {
    color: var(--font-color);
    background: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', 'sans-serif';
}

a {
    color: var(--font-color);
    transition: all .3s ease;
}

div.inner-container {
    margin-top: 50px;
}

.alert {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--font-color);
    background: #ffffff;
    border: var(--secondary-color);
}

.alert-success {
    color: #005300;
    background: #a1e0b0;
    border: 1px solid #00b300;
}

.alert-info {
    color: #2354a8;
    background: #cce5ff;
    border: 1px solid #41c2fd;
}

.alert-failure {
    color: #830909;
    background: #fae1e3;
    border: 1px solid #f87676;
}

.helper-text {
    color: red !important;
}

.secondary-text {
    color: #888888;
    font-size: .85rem;
    word-wrap: break-word;
}

/* Change default coloring for input fields */
/* Custom Checkbox Colors */
/* .input-field input[type="checkbox"]:checked + span::before { */
    /* border-bottom: 2px solid var(--primary-color) !important; */
    /* border-right: 2px solid var(--primary-color) !important; */
/* } */

/* Index/Home page styles */
.circle {
    display: inline-block;
    margin: 0 -10px -10px 0;
    width: 50px;
    height: 50px;
}

/* Main-Nav styles */
.nav-wrapper > ul:last-child {
    height: 0px;
}

.nav-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dropdown-trigger .s3 {
    margin: 7px 0 0;
    height: 35px;
}

.dropdown-trigger i {
    margin-left: 0;
}

/* Side-Nav styles */
.not-logged > li {
    padding: 5px 0;
}

.sidenav > .divider {
    margin: 0;
    padding: 0;
}

ul.sidenav li > a:hover,
ul.sidenav li a:hover i {
    color: var(--primary-color);
}

/* Side-Nav profile-styles */
/* ... */

/* Main container styles */
.row .l4 > .side-bar {
    background: var(--content-color);
    border: 1px solid var(--content-color);
    margin-top: 50px;
    padding: 10px;
}

/* Articles styles */
.article-author {
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
}

.text-muted {
    color: var(--font-color);
    font-weight: bold;
    font-size: .8rem;
}

.media-container {
    background: var(--content-color);
    padding: 20px;
    margin: 0 0 30px;
}

.media-container h4 > a:hover {
    color: var(--primary-color);
}

.media-container a.blue-grey {
    margin-top: 15px;
}

.media-container form.row {
    padding-top: 20px;
}

.media-container .text-muted > a {
    display: inline-block;
    margin-left: 5px;
    color: var(--primary-color);
}

/* Login styles */
label[for='remember'] {
    position: static;
}

p.forgot-pass {
    margin-left: 55px;
}

/* Account styles */
.profile-container {
    padding: 15px 0;
    margin: 0 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.rounded-img {
    width: 130px;
    height: 130px;
    border-radius: 10%;
}

.row > h4 {
    margin-top: 0;
}

/* Post styles */
.modify-post {
    padding-top: 20px;
}

/* Modify materialize default margin for icons inside of buttons '.right' */
.modify-post .col .right {
    margin-left: 7px !important;
}

/* Modify materialize default medium styles */
.modify-post i.medium {
    font-size: 3rem;
    line-height: 25px;
}

.modify-post .modal-footer button[type="submit"] {
    margin: 0 20px !important;
}
